<div *ngIf="examination">
    <div class="form-group">
        <h2>Hello! This examination!</h2>
        <p class="lead">{{examination.Description}}</p>
        <div *ngFor="let exercise of examination.Exercises">
          <app-exercise 
            [exercise]="exercise"
            (selectedAnswerEvent)="addSelectedAnswer($event)">
          </app-exercise>
        </div>
        <button type="button" class="btn btn-outline-secondary" (click)="getResult()">Get result</button>
    </div>
</div>