<div class="content__point" *ngIf="point">
    <div class="content__point--header">{{point.PointText}}</div>
    <div class="custom-control custom-radio content__point--answer" *ngFor="let answer of point.AnswerChoices">
        <input type="radio" class="custom-control-input" id="{{point.PointId}}${{answer.AnswerId}}" name="{{point.PointId}}" (click)="addSelectedAnswer(point.PointId, answer.AnswerId)">
        <label class="custom-control-label" for="{{point.PointId}}${{answer.AnswerId}}">{{answer.AnswerText}}</label>    
    </div>
</div>